body {
    background-color: #90C7E3;
    background-image: linear-gradient(#FFFFFF, #90C7E3);
    background-repeat: no-repeat;
    color: #555555;
}

#wrapper {
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px #333333;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

h1 {
    margin-top: 0;
}

nav {
    background-color: #FFFFFF;
    text-align: center;
    padding: 1em;
}

main {
    display: block;
    padding: 1px 20px 20px 20px;
}

h2 {
    color: #1976D2;
    text-shadow: 1px 1px #CCCCCC;
}

dt {
    color: #002171;
}

.resort {
    color: #1976D2;
}

footer {
    padding: 2em;
}

#homehero {
    height: 300px;
    background-image: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
